@import "tailwindcss";

:root {
  --background: #FDFDFD;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) { /Avaktiverar då jag vill endast ha ett tema/
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-ibm-plex-mono);
}

html {
  scrollbar-gutter: stable; /* Sidan reserverar alltid plats för scrollbar */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-mono), Arial, Helvetica, sans-serif;
}
