@import "tailwindcss";


  :root {
  --background: #FDFDFD;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) { /Avaktiverar då jag vill endast ha ett tema/
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-ibm-plex-mono);
}

html {
  scrollbar-gutter: stable; /* Sidan reserverar alltid plats för scrollbar */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-mono), Arial, Helvetica, sans-serif;
}

/* Fade In effect för hela sidan */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.4s ease-out both;
}


/* Global */

h1 {
  @apply text-4xl font-medium ;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply font-semibold;
}


/* a {
  @apply no-underline hover:underline;
} 
  ** Förstörde korten i Work **
*/

/* Projects */
.projects-section {
  @apply space-y-10;
}

.projects-section__header {
  @apply flex flex-col gap-4;
}

.projects-section__title {
  @apply text-4xl font-medium;
}

.projects-section__description {
  @apply text-gray-600 text-lg;
}

.projects-section__items {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8;
}
